<!--The content below is only a placeholder and can be replaced.-->

<h1>Voting App</h1>

<div>
    <select #selectedCandidate>
        <option *ngFor="let candidate of candidates" [value]="candidate.id">{{ candidate.name }}</option>
    </select>
    <button (click)="voteCandidate(selectedCandidate.value)">Vote</button>
</div>

<div>
    <input type="text" #candidateName placeholder="Candidate Name" />
    <button (click)="addCandidate(candidateName.value)">Add Candidate</button>
</div>

<div>
    <input #voterAddr style="width:30em" type="text" placeholder="Voter Address" />
    <button (click)="addVoter(voterAddr.value)">Add Voter</button>
</div>

<!-- <router-outlet></router-outlet> -->